div.orgChart {
/*    border                : 1px solid #cccccc;
    background-color      : #ffffe8;*/
    margin                : 10px;
    padding               : 20px;
}

div.orgChart h2 {
    margin                : 0px;
    font-size             : 10px;
    /*border-bottom         : 0px solid #fff;*/
    /*border-bottom         : none;*/
}
div.orgChart h2 span {font-size: 12px;}

div.orgChart ul {
    list-style            : none;
    margin                : 4px;
    padding               : 0px;
    font-size             : 0.8em;
    text-align            : left;
}

div.orgChart ul.stack,
div.orgChart ul.stack ul {
    text-align            : center;
}

div.orgChart table {
    width                 : 100%;
}

div.orgChart tr.lines td.line {
    width                 : 1px;
    height                : 20px;
}

div.orgChart tr.lines td.top {
    border-top            : 1px solid #999;
}

div.orgChart tr.lines td.left {
    border-right          : 1px solid #999;
}

div.orgChart tr.lines td.right {
    border-left           : 1px solid #999;
}

div.orgChart td {
    text-align            : center;
    vertical-align        : top;
    padding               : 0px 2px;
}

div.orgChart div.node {
    cursor                : default;
    border                : 1px solid #999;
    display               : inline-block;
    padding               : 0 4px;
    width                 : 96px;
    height                : 60px;
    background-color      : #dadada;
    line-height           : 1.3em;
    border-radius         : 4px;
    /*box-shadow            : 1px 1px 1px #888888;*/
    -moz-border-radius    : 4px;
    /*-moz-box-shadow       : 4px 4px 6px #888888;*/
    -webkit-border-radius : 4px;
    /*-webkit-box-shadow    : 1px 1px 6px #efefef;*/
	position: relative;
}

div.orgChart div.hasChildren {
    /*background-color      : #ffff98;*/
}

div.orgChart.interactive div.hasChildren {
    cursor                : pointer;
}

div.orgChart div.node.hover {
    background-color      : white;
}

div.orgChart div.node.level0 {
    background-color: #fff;
}
div.orgChart div.node.level1 {
    background-color: #f7c808;
}
div.orgChart div.node.level2 {
    background-color: #e98813;
}
div.orgChart a.edit {position: absolute; display: block;  bottom: 0px; right: 0px;}

/* colorboxPartial form  */

#colorboxPartial { width: 480px;}
/*
@media all and (max-width: 480px){
	#colorboxPartial {color: red; width: 200px;}
}
@media all and (min-width:481){
	#colorboxPartial {color: green; width: 480px;}
}*/

/* END colorboxPartial form  */